* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fa;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0c831f;
}

.location {
    font-size: 14px;
}

.search {
    width: 40%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn {
    background: white;
    border: 1px solid #0c831f;
    color: #0c831f;
}

.cart-btn {
    background: #0c831f;
    color: white;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: #eafff1;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text span {
    color: #0c831f;
}

.hero-text p {
    margin: 15px 0;
    font-size: 18px;
}

.shop-btn {
    padding: 12px 25px;
    background: #0c831f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.hero-image img {
    width: 350px;
}

/* CATEGORIES */
.categories {
    padding: 50px 80px;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.category-card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* PRODUCTS */
.products {
    padding: 50px 80px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-row button {
    padding: 6px 15px;
    border: none;
    background: #0c831f;
    color: white;
    border-radius: 6px;
}

/* FOOTER */
.footer {
    background: #0c831f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}